.mainBackground  {
    background-image: url('../images/hero-1140px.jpg');
    background-size: cover;
}

img {
    filter: drop-shadow(-16px 32px 16px black);
}

font {
    font-family: inherit;
    color: #fff;
}


div   {
    text-align: center;
    padding: 10px;
}
h1, h2 {
    text-align: center;
}
p {
    text-align: center;
}

header {
    background-color: saddlebrown;
}
header h1, header h2 {
    margin: 0;
    color: #fff;
    font-weight: 300;
    font-style: italic;
}
header h1 {
    padding: .5rem 0 0 0;
    font-size: 2.1rem;
}
header h2 {
    padding: .2rem 0 0 0;
    font-size: 1.05rem;
}

button, .headerApp {
    background-color: tomato;
    color: #fff;
    text-align: center;
    line-height: 1.1;
    padding: .25em .75em;
    min-width: 10ch;
    min-height: 44px;
    display: inline-flex;
    align-items: center;
    justify-items: center;
    border-radius: 8px;
    box-shadow: 0 3px 5px black;
    transition: 220ms  all ease-in-out;

}

footer  {

    bottom: 0;
    padding: 5px 0 5px 0;
    width: 100%;
    text-decoration: #fff;
    text-align: center;
    background-color: saddlebrown;
}